.header{
    background-color: #fff;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo{
    background-color: #fff;
    margin-left: 5rem;
    font-size: 1.25rem;
    color: #224db3;
  
  }
  a{
    text-decoration: none;
  }
  